*

!/.gitconfig
!/.gitignore
!/accio-configs/
!/accio-configs/*
!/accio-configs/external/*
!/README.md

!/.config/
!/.config/kitty/
!/.config/kitty/kitty.conf

!/.config/
!/.config/sublime-text-3/
!/.config/sublime-text-3/Packages/
!/.config/sublime-text-3/Packages/User/
!/.config/sublime-text-3/Packages/User/Preferences.sublime-settings
!/.config/sublime-text-3/Packages/User/Textile.sublime-settings
!/.config/sublime-text-3/Packages/User/Bash.sublime-settings
!/.config/sublime-text-3/Packages/User/Package Control.sublime-settings

!/.i3/
!/.i3/config

!/.p10k.zsh

!/.profile

!/.Xresources

!/.zshrc
